In [807]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf
import numpy as np

In [808]:
train = pd.read_excel("/Users/aaron/Downloads/타이타닉_data.xlsx", sheetname="train")
test = pd.read_excel("/Users/aaron/Downloads/타이타닉_data.xlsx", sheetname="test")

In [809]:
train["train"]=1
test["train"]=0

In [810]:
data = pd.concat([train,test],0)

In [811]:
data['Title'] = data.name.str.extract(' ([A-Za-z]+)\.')

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [812]:
#Mlle -> 프랑스어로 Miss
#Mme -> 마담, 부인
#Don -> 스페인어로 남성
#Dona -> 스페인어로 여성
#Dr -> doctor
#Rev -> 목사에 대한 극존칭
#Major -> 소령
#Jonkheer -> 귀족
#Capt -> 함장
#Col -> 대령
#Countess -> 귀족
data["Title"] = data["Title"].replace(['Countess', 'Dr', 'Jonkheer', 'Rev',"Lady","Master"], 'Other')
data['Title'] = data['Title'].replace('Don', 'Mr')
data['Title'] = data['Title'].replace('Dona', 'Mrs')
data['Title'] = data['Title'].replace('Mlle', 'Miss')
#data['Title'] = data['Title'].replace('Lady', 'Miss')
data['Title'] = data['Title'].replace('Mme', 'Mrs')
data['Title'] = data['Title'].replace('Ms', 'Miss')
data["Title"] = data["Title"].replace(["Major","Col","Capt" ,'Sir'], 'Navy')

In [813]:
data["family"] = data["sibsp"]+data["parch"]
data.loc[data['family'] > 0, 'travelled_alone'] = 'No'
data.loc[data['family'] == 0, 'travelled_alone'] = 'Yes'

In [814]:
data['pclass'] = data['pclass'].astype(str)

In [815]:
ages = pd.cut(data["age"], [0,18,35,46,60,100], labels=False, retbins=True, right=False)

In [816]:
data["emb_age"] = ages[0]
data['emb_age'] = data['emb_age'].astype(str)

In [1027]:
data["emb"] = data["pclass"] + data["sex"] + data["travelled_alone"] + data['emb_age']

In [1028]:
data

,pclass,name,sex,age,sibsp,parch,ticket,fare,embarked,survival,train,Title,family,travelled_alone,emb_age,emb,seq
0,2,"Lehmann, Miss. Bertha",Female,0.2125,0,0,SC 1748,0.023422,C,1,1,Miss,0,Yes,0,2FemaleYes0,52
1,3,"Laitinen, Miss. Kristina Sofia",Female,0.4625,0,0,4135,0.018718,S,0,1,Miss,0,Yes,2,3FemaleYes2,45
2,3,"Rosblom, Mr. Viktor Richard",Male,0.2250,1,1,370129,0.039447,S,0,1,Mr,2,No,1,3MaleNo1,7
3,3,"Karaic, Mr. Milan",Male,0.3750,0,0,349246,0.015420,S,0,1,Mr,0,Yes,1,3MaleYes1,1
4,3,"Moen, Mr. Sigurd Hansen",Male,0.3125,0,0,348123,0.014932,S,0,1,Mr,0,Yes,1,3MaleYes1,1
5,3,"Danoff, Mr. Yoto",Male,0.3375,0,0,349219,0.015420,S,0,1,Mr,0,Yes,1,3MaleYes1,1
6,3,"Peacock, Master. Alfred Edward",Male,0.0125,1,1,SOTON/O.Q. 3101315,0.026897,S,0,1,Other,2,No,0,3MaleNo0,4
7,1,"Payne, Mr. Vivian Ponsonby",Male,0.2875,0,0,12749,0.182500,S,0,1,Mr,0,Yes,1,1MaleYes1,12
8,3,"Dennis, Mr. Samuel",Male,0.2750,0,0,A/5 21172,0.014151,S,0,1,Mr,0,Yes,1,3MaleYes1,1
9,2,"Brown, Miss. Amelia ""Mildred""",Female,0.3000,0,0,248733,0.025374,S,1,1,Miss,0,Yes,1,2FemaleYes1,21
10,3,"Palsson, Master. Paul Folke",Male,0.0750,3,1,349909,0.041145,S,0,1,Other,4,No,0,3MaleNo0,4
11,3,"Bourke, Mrs. John (Catherine)",Female,0.4000,1,1,364849,0.030254,Q,0,1,Mrs,2,No,1,3FemaleNo1,9
12,1,"Carrau, Mr. Francisco M",Male,0.3500,0,0,113059,0.091933,S,0,1,Mr,0,Yes,1,1MaleYes1,12
13,1,"Smith, Mr. James Clinch",Male,0.7000,0,0,17764,0.059922,C,0,1,Mr,0,Yes,3,1MaleYes3,11
14,3,"de Messemaeker, Mr. Guillaume Joseph",Male,0.4500,1,0,345572,0.033962,S,1,1,Mr,1,No,2,3MaleNo2,22
15,1,"Bird, Miss. Ellen",Female,0.3625,0,0,PC 17483,0.432885,S,1,1,Miss,0,Yes,1,1FemaleYes1,13
16,1,"Marvin, Mrs. Daniel Warner (Mary Graham Carmic...",Female,0.2250,1,0,113773,0.103644,S,1,1,Mrs,1,No,1,1FemaleNo1,26
17,3,"Dooley, Mr. Patrick",Male,0.4000,0,0,370376,0.015127,Q,0,1,Mr,0,Yes,1,3MaleYes1,1
18,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",Female,0.3000,1,0,STON/O2. 3101279,0.030937,S,1,1,Mrs,1,No,1,3FemaleNo1,9
19,3,"Hansen, Mr. Henry Damsgaard",Male,0.2625,0,0,350029,0.015322,S,0,1,Mr,0,Yes,1,3MaleYes1,1
20,2,"Caldwell, Mrs. Albert Francis (Sylvia Mae Harb...",Female,0.2750,1,1,248738,0.056604,S,1,1,Mrs,2,No,1,2FemaleNo1,10
21,1,"Seward, Mr. Frederic Kimber",Male,0.4250,0,0,113794,0.051822,S,1,1,Mr,0,Yes,1,1MaleYes1,12
22,1,"Schabert, Mrs. Paul (Emma Mock)",Female,0.4375,1,0,13236,0.112720,C,1,1,Mrs,1,No,2,1FemaleNo2,17
23,1,"Natsch, Mr. Charles H",Male,0.4625,0,1,PC 17596,0.057970,C,0,1,Mr,1,No,2,1MaleNo2,19
24,3,"Delalic, Mr. Redjo",Male,0.3125,0,0,349250,0.015420,S,0,1,Mr,0,Yes,1,3MaleYes1,1
25,3,"Salander, Mr. Karl Johan",Male,0.3000,0,0,7266,0.018191,S,0,1,Mr,0,Yes,1,3MaleYes1,1
26,2,"Jenkin, Mr. Stephen Curnow",Male,0.4000,0,0,C.A. 33111,0.020495,S,0,1,Mr,0,Yes,1,2MaleYes1,2
27,3,"Hansen, Mrs. Claus Peter (Jennie L Howard)",Female,0.5625,1,0,350026,0.027541,S,1,1,Mrs,1,No,2,3FemaleNo2,24
28,1,"Stengel, Mr. Charles Emil Henry",Male,0.6750,1,0,11778,0.108212,C,1,1,Mr,1,No,3,1MaleNo3,18
29,1,"Kimball, Mr. Edwin Nelson Jr",Male,0.5250,1,0,11753,0.102571,S,1,1,Mr,1,No,2,1MaleNo2,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,3,"Heikkinen, Miss. Laina",Female,0.3250,0,0,STON/O2. 3101282,0.015459,S,1,0,Miss,0,Yes,1,3FemaleYes1,3
284,1,"Hoyt, Mr. Frederick Maxfield",Male,0.4750,1,0,19943,0.175668,S,1,0,Mr,1,No,2,1MaleNo2,19
285,2,"Clarke, Mrs. Charles V (Ada Maria Winfield)",Female,0.3500,1,0,2003,0.050749,S,1,0,Mrs,1,No,1,2FemaleNo1,10
286,1,"Oliva y Ocana, Dona. Fermina",Female,0.4875,0,0,PC 17758,0.212558,C,1,0,Mrs,0,Yes,2,1FemaleYes2,57
287,3,"Coleff, Mr. Peju",Male,0.4500,0,0,349210,0.014639,S,0,0,Mr,0,Yes,2,3MaleYes2,5
288,3,"Baclini, Miss. Helene Barbara",Female,0.0125,2,1,2666,0.037593,C,1,0,Miss,3,No,0,3FemaleNo0,6
289,3,"Johnson, Mr. William Cahoone Jr",Male,0.2375,0,0,LINE,0.000000,S,0,0,Mr,0,Yes,1,3MaleYes1,1
290,1,"Warren, Mr. Frank Manley",Male,0.8000,1,0,110813,0.146878,C,0,0,Mr,1,No,4,1MaleNo4,40
291,1,"Brandeis, Mr. Emil",Male,0.6000,0,0,PC 17591,0.098569,C,0,0,Mr,0,Yes,3,1MaleYes3,11
292,3,"Perkin, Mr. John Henry",Male,0.2750,0,0,A/5 21174,0.014151,S,0,0,Mr,0,Yes,1,3MaleYes1,1
293,2,"Sincock, Miss. Maude",Female,0.2500,0,0,C.A. 33112,0.071731,S,1,0,Miss,0,Yes,1,2FemaleYes1,21
294,1,"Barkworth, Mr. Algernon Henry Wilson",Male,1.0000,0,0,27042,0.058556,S,1,0,Mr,0,Yes,4,1MaleYes4,36
295,3,"Gustafsson, Mr. Alfred Ossian",Male,0.2500,0,0,7534,0.019226,S,0,0,Mr,0,Yes,1,3MaleYes1,1
296,3,"Alexander, Mr. William",Male,0.3250,0,0,3474,0.015400,S,0,0,Mr,0,Yes,1,3MaleYes1,1
297,3,"Green, Mr. George Henry",Male,0.6375,0,0,21440,0.015713,S,0,0,Mr,0,Yes,3,3MaleYes3,31
298,3,"Canavan, Miss. Mary",Female,0.2625,0,0,364846,0.015127,Q,0,0,Miss,0,Yes,1,3FemaleYes1,3
299,1,"Bazzani, Miss. Albina",Female,0.4000,0,0,11813,0.148908,C,1,0,Miss,0,Yes,1,1FemaleYes1,13
300,3,"Albimona, Mr. Nassef Cassem",Male,0.3250,0,0,2699,0.036676,C,1,0,Mr,0,Yes,1,3MaleYes1,1
301,2,"Davies, Master. John Morgan Jr",Male,0.1000,1,1,C.A. 33112,0.071731,S,1,0,Other,2,No,0,2MaleNo0,29
302,3,"Sandstrom, Miss. Beatrice Irene",Female,0.0125,1,1,PP 9549,0.032596,S,1,0,Miss,2,No,0,3FemaleNo0,6
303,1,"Newell, Miss. Marjorie",Female,0.2875,1,0,35273,0.221107,C,1,0,Miss,1,No,1,1FemaleNo1,23
304,3,"Meo, Mr. Alfonzo",Male,0.7000,0,0,A.5. 11206,0.015713,S,0,0,Mr,0,Yes,3,3MaleYes3,31
305,2,"Slayter, Miss. Hilda Mary",Female,0.3750,0,0,234818,0.024106,Q,1,0,Miss,0,Yes,1,2FemaleYes1,21
306,2,"Gill, Mr. John William",Male,0.3000,0,0,233866,0.025374,S,0,0,Mr,0,Yes,1,2MaleYes1,2
307,3,"Vendel, Mr. Olof Edvin",Male,0.2500,0,0,350416,0.015322,S,0,0,Mr,0,Yes,1,3MaleYes1,1
308,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",Female,0.7000,0,1,11767,0.162317,C,1,0,Mrs,1,No,3,1FemaleNo3,14
309,3,"Saether, Mr. Simon Sivertsen",Male,0.4750,0,0,SOTON/O.Q. 3101262,0.014151,S,0,0,Mr,0,Yes,2,3MaleYes2,5
310,2,"Mallet, Master. Andre",Male,0.0125,0,2,S.C./PARIS 2079,0.072219,C,1,0,Other,2,No,0,2MaleNo0,29
311,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",Female,0.6000,1,1,13567,0.154588,C,1,0,Mrs,2,No,3,1FemaleNo3,14
312,3,"Lovell, Mr. John Hall (""Henry"")",Male,0.2500,0,0,A/5 21173,0.014151,S,0,0,Mr,0,Yes,1,3MaleYes1,1

In [1029]:
data["emb"].nunique()

56

In [1030]:
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

def normalize_col(data, colum):
    scaler = MinMaxScaler()
    data[colum] = scaler.fit_transform(data[colum].values.reshape(-1,1))
    return data
data= normalize_col(data,"fare")
data= normalize_col(data,"age")
#data= normalize_col(data,"family")

In [1031]:
tok = tf.keras.preprocessing.text.Tokenizer(lower=False, char_level="")

In [1032]:
tok.fit_on_texts(data["emb"].values)

In [1033]:
seq = tok.texts_to_sequences(data["emb"].values)

In [1034]:
seq = np.array(seq)

In [1035]:
data["seq"] = seq

In [1036]:
data["seq"].nunique()

56

In [1037]:
train_x = data[data["train"]==1][["seq", "fare", "age"]]
train_y = data[data["train"]==1]["survival"]

In [1038]:
test_x = data[data["train"]==0][["seq", "fare", "age"]]
test_y = data[data["train"]==0]["survival"]

In [1039]:
train_x

     seq      fare     age
0     47  0.023422  0.2125
1     40  0.018718  0.4625
2      9  0.039447  0.2250
3      1  0.015420  0.3750
4      1  0.014932  0.3125
5      1  0.015420  0.3375
6      3  0.026897  0.0125
7     14  0.182500  0.2875
8      1  0.014151  0.2750
9     13  0.025374  0.3000
10     3  0.041145  0.0750
11     8  0.030254  0.4000
12    14  0.091933  0.3500
13    12  0.059922  0.7000
14    23  0.033962  0.4500
15    15  0.432885  0.3625
16    11  0.103644  0.2250
17     1  0.015127  0.4000
18     8  0.030937  0.3000
19     1  0.015322  0.2625
20     5  0.056604  0.2750
21    14  0.051822  0.4250
22    18  0.112720  0.4375
23    22  0.057970  0.4625
24     1  0.015420  0.3125
25     1  0.018191  0.3000
26     2  0.020495  0.4000
27    24  0.027541  0.5625
28    19  0.108212  0.6750
29    22  0.102571  0.5250
..   ...       ...     ...
700    3  0.040169  0.0125
701    7  0.018543  0.4500
702   29  0.036598  0.0375
703   23  0.028302  0.5000
704   18  0.175668  0.4375
705    4  0.014151  0.2750
706   48  0.028302  0.5875
707    3  0.029766  0.0875
708   42  0.024106  0.7625
709   28  0.015713  0.2000
710   27  0.024437  0.6375
711   12  0.051822  0.6375
712   22  0.162942  0.5625
713   45  0.020495  0.6250
714    3  0.091543  0.0125
715   24  0.031035  0.4500
716   38  0.295805  0.0250
717    1  0.015713  0.4000
718   17  0.057970  0.4875
719   20  0.108212  0.3125
720    3  0.061269  0.1125
721   32  0.024359  0.0625
722    1  0.110280  0.3500
723   11  0.162317  0.2875
724   23  0.016396  0.5250
725    4  0.015186  0.3125
726   16  0.100482  0.7375
727    1  0.016903  0.4125
728   16  0.102571  0.5875
729    5  0.050749  0.3625

[730 rows x 3 columns]

In [1080]:
input1 = tf.keras.layers.Input(shape=(2,), name="num")
input2 = tf.keras.layers.Input(shape=(1), name="emb")

In [1081]:
emb_layer = tf.keras.layers.Embedding(57,20, embeddings_regularizer="l2")(input2)

In [1082]:
#drop1 = tf.keras.layers.SpatialDropout1D(0.3)(emb_layer)

In [1083]:
emb_layer = tf.keras.layers.Flatten()(emb_layer)

In [1084]:
concat_layer = tf.keras.layers.concatenate([input1,emb_layer])

In [1085]:
dense1 = tf.keras.layers.Dense(50,kernel_initializer="glorot_normal",use_bias=True)(concat_layer)

bat = tf.keras.layers.BatchNormalization()(dense1)

#dense2 = tf.keras.layers.Dense(50, 
#                                kernel_initializer="glorot_normal", kernel_regularizer="l2", 
#                             use_bias=True)(dense1)
re = tf.keras.layers.ReLU()(bat)
dense1 = tf.keras.layers.Dense(50,kernel_initializer="glorot_normal",use_bias=True)(re)

bat = tf.keras.layers.BatchNormalization()(dense1)

#dense2 = tf.keras.layers.Dense(50, 
#                                kernel_initializer="glorot_normal", kernel_regularizer="l2", 
#                             use_bias=True)(dense1)
re = tf.keras.layers.ReLU()(bat)

dense3 = tf.keras.layers.Dense(10, 
                                kernel_initializer="glorot_normal",
                             use_bias=True)(re)


out = tf.keras.layers.Dense(1, activation="sigmoid",
                             kernel_initializer="glorot_normal",use_bias=True)(dense3)

In [1086]:
model = tf.keras.Model(inputs = [input1, input2], outputs = out)
model.compile(optimizer=tf.keras.optimizers.Adam(0.001),
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [1088]:
model.fit([train_x[["fare","age"]].values, train_x["seq"].values],train_y.values, batch_size=32,
          epochs=100, validation_data=([test_x[["fare","age"]].values, test_x["seq"].values],test_y.values))

Train on 730 samples, validate on 313 samples
Epoch 1/100
730/730 [==============================] - 0s 126us/sample - loss: 0.3604 - accuracy: 0.8370 - val_loss: 0.5566 - val_accuracy: 0.7827
Epoch 2/100
730/730 [==============================] - 0s 119us/sample - loss: 0.3610 - accuracy: 0.8411 - val_loss: 0.5841 - val_accuracy: 0.7955
Epoch 3/100
730/730 [==============================] - 0s 122us/sample - loss: 0.3657 - accuracy: 0.8315 - val_loss: 0.5782 - val_accuracy: 0.8051
Epoch 4/100
730/730 [==============================] - 0s 121us/sample - loss: 0.3676 - accuracy: 0.8329 - val_loss: 0.5747 - val_accuracy: 0.7955
Epoch 5/100
730/730 [==============================] - 0s 125us/sample - loss: 0.3596 - accuracy: 0.8342 - val_loss: 0.5755 - val_accuracy: 0.7764
Epoch 6/100
730/730 [==============================] - 0s 119us/sample - loss: 0.3636 - accuracy: 0.8397 - val_loss: 0.5855 - val_accuracy: 0.8115
Epoch 7/100
730/730 [==============================] - 0s 122us/sample - loss: 0.3568 - accuracy: 0.8384 - val_loss: 0.5985 - val_accuracy: 0.7955
Epoch 8/100
730/730 [==============================] - 0s 127us/sample - loss: 0.3514 - accuracy: 0.8425 - val_loss: 0.6167 - val_accuracy: 0.7796
Epoch 9/100
730/730 [==============================] - 0s 121us/sample - loss: 0.3738 - accuracy: 0.8329 - val_loss: 0.5970 - val_accuracy: 0.7891
Epoch 10/100
730/730 [==============================] - 0s 119us/sample - loss: 0.3708 - accuracy: 0.8233 - val_loss: 0.6054 - val_accuracy: 0.7987
Epoch 11/100
730/730 [==============================] - 0s 118us/sample - loss: 0.3600 - accuracy: 0.8438 - val_loss: 0.5789 - val_accuracy: 0.7923
Epoch 12/100
730/730 [==============================] - 0s 122us/sample - loss: 0.3655 - accuracy: 0.8397 - val_loss: 0.5737 - val_accuracy: 0.8019
Epoch 13/100
730/730 [==============================] - 0s 118us/sample - loss: 0.3610 - accuracy: 0.8301 - val_loss: 0.5684 - val_accuracy: 0.7987
Epoch 14/100
730/730 [==============================] - 0s 120us/sample - loss: 0.3689 - accuracy: 0.8425 - val_loss: 0.5703 - val_accuracy: 0.7764
Epoch 15/100
730/730 [==============================] - 0s 118us/sample - loss: 0.3573 - accuracy: 0.8452 - val_loss: 0.5796 - val_accuracy: 0.7987
Epoch 16/100
730/730 [==============================] - 0s 118us/sample - loss: 0.3561 - accuracy: 0.8493 - val_loss: 0.5818 - val_accuracy: 0.7859
Epoch 17/100
730/730 [==============================] - 0s 117us/sample - loss: 0.3592 - accuracy: 0.8425 - val_loss: 0.5798 - val_accuracy: 0.7923
Epoch 18/100
730/730 [==============================] - 0s 119us/sample - loss: 0.3618 - accuracy: 0.8384 - val_loss: 0.5634 - val_accuracy: 0.7827
Epoch 19/100
730/730 [==============================] - 0s 119us/sample - loss: 0.3593 - accuracy: 0.8411 - val_loss: 0.5903 - val_accuracy: 0.7987
Epoch 20/100
730/730 [==============================] - 0s 128us/sample - loss: 0.3689 - accuracy: 0.8438 - val_loss: 0.6059 - val_accuracy: 0.8051
Epoch 21/100
730/730 [==============================] - 0s 120us/sample - loss: 0.3569 - accuracy: 0.8438 - val_loss: 0.6089 - val_accuracy: 0.7955
Epoch 22/100
730/730 [==============================] - 0s 122us/sample - loss: 0.3609 - accuracy: 0.8370 - val_loss: 0.6194 - val_accuracy: 0.7891
Epoch 23/100
730/730 [==============================] - 0s 121us/sample - loss: 0.3679 - accuracy: 0.8288 - val_loss: 0.6113 - val_accuracy: 0.7955
Epoch 24/100
730/730 [==============================] - 0s 118us/sample - loss: 0.3623 - accuracy: 0.8274 - val_loss: 0.5942 - val_accuracy: 0.7796
Epoch 25/100
730/730 [==============================] - 0s 122us/sample - loss: 0.3523 - accuracy: 0.8452 - val_loss: 0.5956 - val_accuracy: 0.7923
Epoch 26/100
730/730 [==============================] - 0s 121us/sample - loss: 0.3469 - accuracy: 0.8479 - val_loss: 0.6137 - val_accuracy: 0.7891
Epoch 27/100
730/730 [==============================] - 0s 124us/sample - loss: 0.3577 - accuracy: 0.8370 - val_loss: 0.5869 - val_accuracy: 0.7955
Epoch 28/100
730/730 [==============================] - 0s 121us/sample - loss: 0.3571 - accuracy: 0.8534 - val_loss: 0.5661 - val_accuracy: 0.7764
Epoch 29/100
730/730 [==============================] - 0s 125us/sample - loss: 0.3569 - accuracy: 0.8329 - val_loss: 0.5753 - val_accuracy: 0.7859
Epoch 30/100
730/730 [==============================] - 0s 122us/sample - loss: 0.3620 - accuracy: 0.8384 - val_loss: 0.5998 - val_accuracy: 0.7732
Epoch 31/100
730/730 [==============================] - 0s 125us/sample - loss: 0.3615 - accuracy: 0.8356 - val_loss: 0.5976 - val_accuracy: 0.7827
Epoch 32/100
730/730 [==============================] - 0s 119us/sample - loss: 0.3779 - accuracy: 0.8329 - val_loss: 0.6096 - val_accuracy: 0.7827
Epoch 33/100
730/730 [==============================] - 0s 118us/sample - loss: 0.3537 - accuracy: 0.8397 - val_loss: 0.5942 - val_accuracy: 0.7796
Epoch 34/100
730/730 [==============================] - 0s 117us/sample - loss: 0.3485 - accuracy: 0.8438 - val_loss: 0.6103 - val_accuracy: 0.7859
Epoch 35/100
730/730 [==============================] - 0s 119us/sample - loss: 0.3442 - accuracy: 0.8466 - val_loss: 0.6020 - val_accuracy: 0.7764
Epoch 36/100
730/730 [==============================] - 0s 117us/sample - loss: 0.3520 - accuracy: 0.8479 - val_loss: 0.6103 - val_accuracy: 0.7764
Epoch 37/100
730/730 [==============================] - 0s 118us/sample - loss: 0.3430 - accuracy: 0.8425 - val_loss: 0.6479 - val_accuracy: 0.7891
Epoch 38/100
730/730 [==============================] - 0s 126us/sample - loss: 0.3556 - accuracy: 0.8452 - val_loss: 0.6102 - val_accuracy: 0.7891
Epoch 39/100
730/730 [==============================] - 0s 126us/sample - loss: 0.3600 - accuracy: 0.8438 - val_loss: 0.6218 - val_accuracy: 0.7764
Epoch 40/100
730/730 [==============================] - 0s 124us/sample - loss: 0.3487 - accuracy: 0.8425 - val_loss: 0.6290 - val_accuracy: 0.7827
Epoch 41/100
730/730 [==============================] - 0s 121us/sample - loss: 0.3369 - accuracy: 0.8329 - val_loss: 0.6222 - val_accuracy: 0.7827
Epoch 42/100
730/730 [==============================] - 0s 117us/sample - loss: 0.3451 - accuracy: 0.8452 - val_loss: 0.6155 - val_accuracy: 0.7955
Epoch 43/100
730/730 [==============================] - 0s 123us/sample - loss: 0.3666 - accuracy: 0.8301 - val_loss: 0.6681 - val_accuracy: 0.7764
Epoch 44/100
730/730 [==============================] - 0s 120us/sample - loss: 0.3648 - accuracy: 0.8384 - val_loss: 0.6493 - val_accuracy: 0.7859
Epoch 45/100
730/730 [==============================] - 0s 120us/sample - loss: 0.3573 - accuracy: 0.8384 - val_loss: 0.6517 - val_accuracy: 0.7827
Epoch 46/100
730/730 [==============================] - 0s 123us/sample - loss: 0.3516 - accuracy: 0.8479 - val_loss: 0.6100 - val_accuracy: 0.7923
Epoch 47/100
730/730 [==============================] - 0s 119us/sample - loss: 0.3490 - accuracy: 0.8479 - val_loss: 0.6062 - val_accuracy: 0.7987
Epoch 48/100
730/730 [==============================] - 0s 120us/sample - loss: 0.3335 - accuracy: 0.8479 - val_loss: 0.6245 - val_accuracy: 0.7923
Epoch 49/100
730/730 [==============================] - 0s 120us/sample - loss: 0.3276 - accuracy: 0.8548 - val_loss: 0.6247 - val_accuracy: 0.7987
Epoch 50/100
730/730 [==============================] - 0s 122us/sample - loss: 0.3678 - accuracy: 0.8438 - val_loss: 0.6119 - val_accuracy: 0.8083
Epoch 51/100
730/730 [==============================] - 0s 120us/sample - loss: 0.3646 - accuracy: 0.8384 - val_loss: 0.6107 - val_accuracy: 0.7923
Epoch 52/100
730/730 [==============================] - 0s 119us/sample - loss: 0.3436 - accuracy: 0.8425 - val_loss: 0.5788 - val_accuracy: 0.7891
Epoch 53/100
730/730 [==============================] - 0s 118us/sample - loss: 0.3497 - accuracy: 0.8493 - val_loss: 0.6317 - val_accuracy: 0.7923
Epoch 54/100
730/730 [==============================] - 0s 122us/sample - loss: 0.3526 - accuracy: 0.8370 - val_loss: 0.6234 - val_accuracy: 0.7764
Epoch 55/100
730/730 [==============================] - 0s 123us/sample - loss: 0.3424 - accuracy: 0.8493 - val_loss: 0.6131 - val_accuracy: 0.7827
Epoch 56/100

730/730 [==============================] - 0s 125us/sample - loss: 0.3562 - accuracy: 0.8411 - val_loss: 0.6100 - val_accuracy: 0.7891
Epoch 57/100
730/730 [==============================] - 0s 120us/sample - loss: 0.3428 - accuracy: 0.8466 - val_loss: 0.6280 - val_accuracy: 0.7955
Epoch 58/100
730/730 [==============================] - 0s 121us/sample - loss: 0.3539 - accuracy: 0.8356 - val_loss: 0.6089 - val_accuracy: 0.7859
Epoch 59/100
730/730 [==============================] - 0s 115us/sample - loss: 0.3441 - accuracy: 0.8384 - val_loss: 0.5965 - val_accuracy: 0.7923
Epoch 60/100
730/730 [==============================] - 0s 114us/sample - loss: 0.3431 - accuracy: 0.8438 - val_loss: 0.6418 - val_accuracy: 0.7796
Epoch 61/100
730/730 [==============================] - 0s 118us/sample - loss: 0.3559 - accuracy: 0.8356 - val_loss: 0.6387 - val_accuracy: 0.7891
Epoch 62/100
730/730 [==============================] - 0s 122us/sample - loss: 0.3415 - accuracy: 0.8329 - val_loss: 0.6641 - val_accuracy: 0.8147
Epoch 63/100
730/730 [==============================] - 0s 122us/sample - loss: 0.3753 - accuracy: 0.8384 - val_loss: 0.5945 - val_accuracy: 0.8019
Epoch 64/100
730/730 [==============================] - 0s 120us/sample - loss: 0.3641 - accuracy: 0.8411 - val_loss: 0.5773 - val_accuracy: 0.7987
Epoch 65/100
730/730 [==============================] - 0s 117us/sample - loss: 0.3453 - accuracy: 0.8384 - val_loss: 0.5720 - val_accuracy: 0.7923
Epoch 66/100
730/730 [==============================] - 0s 114us/sample - loss: 0.3579 - accuracy: 0.8507 - val_loss: 0.5924 - val_accuracy: 0.7955
Epoch 67/100
730/730 [==============================] - 0s 117us/sample - loss: 0.3479 - accuracy: 0.8452 - val_loss: 0.6102 - val_accuracy: 0.7955
Epoch 68/100
730/730 [==============================] - 0s 128us/sample - loss: 0.3555 - accuracy: 0.8397 - val_loss: 0.6172 - val_accuracy: 0.7987
Epoch 69/100
730/730 [==============================] - 0s 126us/sample - loss: 0.3608 - accuracy: 0.8384 - val_loss: 0.6128 - val_accuracy: 0.7987
Epoch 70/100
730/730 [==============================] - 0s 124us/sample - loss: 0.3560 - accuracy: 0.8397 - val_loss: 0.5859 - val_accuracy: 0.8147
Epoch 71/100
730/730 [==============================] - 0s 119us/sample - loss: 0.3581 - accuracy: 0.8384 - val_loss: 0.6217 - val_accuracy: 0.8019
Epoch 72/100
730/730 [==============================] - 0s 117us/sample - loss: 0.3441 - accuracy: 0.8411 - val_loss: 0.6411 - val_accuracy: 0.7923
Epoch 73/100
730/730 [==============================] - 0s 114us/sample - loss: 0.3508 - accuracy: 0.8233 - val_loss: 0.6375 - val_accuracy: 0.7987
Epoch 74/100
730/730 [==============================] - 0s 119us/sample - loss: 0.3526 - accuracy: 0.8479 - val_loss: 0.6433 - val_accuracy: 0.8051
Epoch 75/100
730/730 [==============================] - 0s 121us/sample - loss: 0.3464 - accuracy: 0.8466 - val_loss: 0.6136 - val_accuracy: 0.7987
Epoch 76/100
730/730 [==============================] - 0s 120us/sample - loss: 0.3366 - accuracy: 0.8425 - val_loss: 0.6022 - val_accuracy: 0.8019
Epoch 77/100
730/730 [==============================] - 0s 118us/sample - loss: 0.3523 - accuracy: 0.8452 - val_loss: 0.6014 - val_accuracy: 0.7955
Epoch 78/100
730/730 [==============================] - 0s 122us/sample - loss: 0.3342 - accuracy: 0.8493 - val_loss: 0.6073 - val_accuracy: 0.7955
Epoch 79/100
730/730 [==============================] - 0s 113us/sample - loss: 0.3380 - accuracy: 0.8534 - val_loss: 0.5968 - val_accuracy: 0.7891
Epoch 80/100
730/730 [==============================] - 0s 118us/sample - loss: 0.3568 - accuracy: 0.8342 - val_loss: 0.6148 - val_accuracy: 0.7891
Epoch 81/100
730/730 [==============================] - 0s 121us/sample - loss: 0.3472 - accuracy: 0.8438 - val_loss: 0.6289 - val_accuracy: 0.7923
Epoch 82/100
730/730 [==============================] - 0s 121us/sample - loss: 0.3596 - accuracy: 0.8274 - val_loss: 0.6096 - val_accuracy: 0.7732
Epoch 83/100
730/730 [==============================] - 0s 121us/sample - loss: 0.3481 - accuracy: 0.8397 - val_loss: 0.5881 - val_accuracy: 0.7796
Epoch 84/100
730/730 [==============================] - 0s 120us/sample - loss: 0.3377 - accuracy: 0.8438 - val_loss: 0.6249 - val_accuracy: 0.7764
Epoch 85/100
730/730 [==============================] - 0s 116us/sample - loss: 0.3505 - accuracy: 0.8452 - val_loss: 0.6261 - val_accuracy: 0.7859
Epoch 86/100
730/730 [==============================] - 0s 114us/sample - loss: 0.3472 - accuracy: 0.8411 - val_loss: 0.6149 - val_accuracy: 0.7827
Epoch 87/100
730/730 [==============================] - 0s 116us/sample - loss: 0.3594 - accuracy: 0.8274 - val_loss: 0.6252 - val_accuracy: 0.7891
Epoch 88/100
730/730 [==============================] - 0s 121us/sample - loss: 0.3640 - accuracy: 0.8384 - val_loss: 0.6385 - val_accuracy: 0.8019
Epoch 89/100
730/730 [==============================] - 0s 122us/sample - loss: 0.3391 - accuracy: 0.8493 - val_loss: 0.6323 - val_accuracy: 0.8019
Epoch 90/100
730/730 [==============================] - 0s 123us/sample - loss: 0.3513 - accuracy: 0.8329 - val_loss: 0.6227 - val_accuracy: 0.8051
Epoch 91/100
730/730 [==============================] - 0s 123us/sample - loss: 0.3357 - accuracy: 0.8452 - val_loss: 0.6376 - val_accuracy: 0.8019
Epoch 92/100
730/730 [==============================] - 0s 119us/sample - loss: 0.3445 - accuracy: 0.8507 - val_loss: 0.6164 - val_accuracy: 0.7987
Epoch 93/100
730/730 [==============================] - 0s 119us/sample - loss: 0.3553 - accuracy: 0.8466 - val_loss: 0.6386 - val_accuracy: 0.8019
Epoch 94/100
730/730 [==============================] - 0s 124us/sample - loss: 0.3291 - accuracy: 0.8575 - val_loss: 0.6152 - val_accuracy: 0.7987
Epoch 95/100
730/730 [==============================] - 0s 122us/sample - loss: 0.3522 - accuracy: 0.8370 - val_loss: 0.6345 - val_accuracy: 0.7891
Epoch 96/100
730/730 [==============================] - 0s 124us/sample - loss: 0.3434 - accuracy: 0.8493 - val_loss: 0.6332 - val_accuracy: 0.7891
Epoch 97/100
730/730 [==============================] - 0s 122us/sample - loss: 0.3392 - accuracy: 0.8425 - val_loss: 0.6494 - val_accuracy: 0.7955
Epoch 98/100
730/730 [==============================] - 0s 118us/sample - loss: 0.3421 - accuracy: 0.8438 - val_loss: 0.6361 - val_accuracy: 0.7891
Epoch 99/100
730/730 [==============================] - 0s 116us/sample - loss: 0.3496 - accuracy: 0.8466 - val_loss: 0.6160 - val_accuracy: 0.8147
Epoch 100/100
730/730 [==============================] - 0s 124us/sample - loss: 0.3365 - accuracy: 0.8479 - val_loss: 0.6608 - val_accuracy: 0.7987